body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebe783;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center; 
}
.welcome {
    text-align: center;
}

.intro {
    text-align: center;
}

.spons {
    text-align: center;
}

.art {
    text-align: center;
}
header h1 {
    margin: auto;  
}

button {
    background-color: grey;
    border: 2px solid black;
    color: white; 
    display: block;
    margin: auto;
}
hr.solid {
    border-top: 3px solid green;
    width: 70%;
  }

nav {
    background-color:grey;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-bottom: 15px;
    
  }
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  nav a:hover {
    background-color: rgb(5, 55, 13);
  }
  nav li {
    display: inline-block;
    width: 20%;
  }

main {
    padding: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.email-button {
    color: blue;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

.email-button:hover {
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
#banner {
    display: block;
    width: 20%;
    margin: auto;

}

hr.solid {
    border-top: 3px solid green;
    width: 70%;
  }
