body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#banner {
  max-width: 100%;
  max-height: 100%; /* Set a maximum height for the images */
  display: block;
  margin: 0 auto;
}

/* Style rule for navigation area */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}

nav li:hover {
  background-color: #7e7e7e;
}

nav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
#banner {
    width: 20%;
    

}
body {
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
}

#submit {
  margin: 0 left;
  border: none;
  display: block;
  padding: 0.5%;
  background-color: #b3b3b3;
  font-size: 15px;
  border-radius: 10px;
}

#artwork-upload {
  margin: 0 left;
  border: none;
  padding: 0.5%;
  background-color: #b3b3b3;
  font-size: 15px;
  border-radius: 10px;
}

/*Gallery CSS Below*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.art-item {
  flex-basis: 45%; 
  border: 2px solid #383434; 
  padding: 10px;
  box-sizing: border-box;
  text-align: center; 
}

.art-item .image-container {
  overflow: hidden;
}

.art-item img {
  width: 100%;
  height: auto;
  display: block;
}

.art-item h3 {
  font-size: 4.0em; 
  margin: 10px 0; 
}

.art-item p {
  font-size: 2.0em; 
  margin: 5px 0; 
}

.purchase-button {
  display: inline-block;
  margin-top: 10px;
  font-size: 2em; 
  padding: 5px 10px;
  background-color: #383434;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.purchase-button:hover {
  background-color: rgb(60, 160, 37);
}

/*Gallery CSS Above*/