#submit {
  margin-left: 0;
  border: none;
  display: block;
  padding: 0.5%;
  background-color: #b3b3b3;
  font-size: 15px;
  border-radius: 10px;
}

#artwork-upload {
  margin-left: 0;
  border: none;
  padding: 0.5%;
  background-color: #b3b3b3;
  font-size: 15px;
  border-radius: 10px;
}